In [13]:
#Import dependencies
import pandas as pd

In [14]:
#Read in the data
df = pd.read_csv("vine_table.csv")

In [15]:
#Create a dataframe with total_votes greater than or equal to 20
total_votes_20 = df[df["total_votes"] >= 20]

In [44]:
total_votes_20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
...,...,...,...,...,...,...
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785714,R26KS4Q9G04FIV,2,8,21,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [16]:
#Create a dataframe with helpful_votes greater than or equal to 50%
helpful_votes_50 = total_votes_20[total_votes_20["helpful_votes"]/total_votes_20["total_votes"] >= 0.5]

In [17]:
helpful_votes_50

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y
...,...,...,...,...,...,...
1785641,RCMDCDJR16IKW,4,27,30,N,N
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [18]:
#Create a dataframe with paid vine reviews
vine_paid = helpful_votes_50[helpful_votes_50["vine"] == "Y"]

In [19]:
vine_paid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N
...,...,...,...,...,...,...
1456862,RLPTVGLU0JQIP,3,42,45,Y,N
1463333,R3ASJ9SENYYYI0,5,40,46,Y,N
1481162,RNU8PK609WT6P,4,347,362,Y,N
1506354,R8YT75NJW0CM9,4,37,40,Y,N
1506642,R2EDL85YVF0PRA,5,23,32,Y,N

In [20]:
#Create a dataframe with unpaid vine reviews
vine_unpaid = helpful_votes_50[helpful_votes_50["vine"] == "N"]

In [21]:
#Determine the total number of paid and unpaid reviews
num_paid = vine_paid["review_id"].count()
num_unpaid = vine_unpaid["review_id"].count()

#Determine the number of 5-star paid and unpaid reviews
num_5star_paid = vine_paid[vine_paid["star_rating"] == 5]["review_id"].count()
num_5star_unpaid = vine_unpaid[vine_unpaid["star_rating"] == 5]["review_id"].count()

#Determine the percentage of 5-star paid and unpaid reviews
percent_5star_paid = num_5star_paid/num_paid
percent_5star_unpaid = num_5star_unpaid/num_unpaid

In [22]:
print(f"Total number of paid reviews: {num_paid}")
print(f"Total number of unpaid reviews: {num_unpaid}")
print(f"Total number of 5-star paid reviews: {num_5star_paid}")
print(f"Total number of 5-star unpaid reviews: {num_5star_unpaid}")
print(f"Percentage of 5-star paid reviews: {percent_5star_paid}")
print(f"Percentage of 5-star unpaid reviews: {percent_5star_unpaid}")

Total number of paid reviews: 94
Total number of unpaid reviews: 40471
Total number of 5-star paid reviews: 48
Total number of 5-star unpaid reviews: 15663
Percentage of 5-star paid reviews: 0.5106382978723404
Percentage of 5-star unpaid reviews: 0.38701786464381904

In [61]:
#Total number of paid reviews
print(f'Total number of paid reviews:', (len(df[df['vine'] == 'Y'])))

#Total number of paid reviews with 20 or more votes
print(f'Total number of paid reviews with 20 or more votes:', (len(total_votes_20[total_votes_20['vine'] == 'Y'])))

#Total number of paid reviews with 20 or more votes and 50% or more helpful votes
print(f'Total number of paid reviews with 20 or more votes and 50% or more helpful votes:', (len(helpful_votes_50[helpful_votes_50['vine'] == 'Y'])))

Total number of paid reviews: 4291
Total number of paid reviews with 20 or more votes: 104
Total number of paid reviews with 20 or more votes and 50% or more helpful votes: 94

In [62]:
#Total number of unpaid reviews
print(f'Total number of unpaid reviews:', (len(df[df['vine'] == 'N'])))

#Total number of unpaid reviews with 20 or more votes
print(f'Total number of unpaid reviews with 20 or more votes:', (len(total_votes_20[total_votes_20['vine'] == 'N'])))

#Total number of unpaid reviews with 20 or more votes and 50% or more helpful votes
print(f'Total number of unpaid reviews with 20 or more votes and 50% or more helpful votes:', (len(helpful_votes_50[helpful_votes_50['vine'] == 'N'])))

Total number of unpaid reviews: 1781706
Total number of unpaid reviews with 20 or more votes: 65275
Total number of unpaid reviews with 20 or more votes and 50% or more helpful votes: 40471

In [64]:
#Total number of 5-star paid reviews
print(f'Total number of 5-star paid reviews:', (len(df[(df['vine'] == 'Y') & (df['star_rating'] == 5)])))

#Total number of 5-star paid reviews with 20 or more votes
print(f'Total number of 5-star paid reviews with 20 or more votes:', (len(total_votes_20[(total_votes_20['vine'] == 'Y') & (total_votes_20['star_rating'] == 5)])))

#Total number of 5-star paid reviews with 20 or more votes and 50% or more helpful votes
print(f'Total number of 5-star paid reviews with 20 or more votes and 50% or more helpful votes:', (len(helpful_votes_50[(helpful_votes_50['vine'] == 'Y') & (helpful_votes_50['star_rating'] == 5)])))

Total number of 5-star paid reviews: 1607
Total number of 5-star paid reviews with 20 or more votes: 48
Total number of 5-star paid reviews with 20 or more votes and 50% or more helpful votes: 48

In [65]:
#Total number of 5-star unpaid reviews
print(f'Total number of 5-star unpaid reviews:', (len(df[(df['vine'] == 'N') & (df['star_rating'] == 5)])))

#Total number of 5-star unpaid reviews with 20 or more votes
print(f'Total number of 5-star unpaid reviews with 20 or more votes:', (len(total_votes_20[(total_votes_20['vine'] == 'N') & (total_votes_20['star_rating'] == 5)])))

#Total number of 5-star unpaid reviews with 20 or more votes and 50% or more helpful votes
print(f'Total number of 5-star unpaid reviews with 20 or more votes and 50% or more helpful votes:', (len(helpful_votes_50[(helpful_votes_50['vine'] == 'N') & (helpful_votes_50['star_rating'] == 5)])))

Total number of 5-star unpaid reviews: 1025317
Total number of 5-star unpaid reviews with 20 or more votes: 20439
Total number of 5-star unpaid reviews with 20 or more votes and 50% or more helpful votes: 15663

In [66]:
#Percentage of 5-star paid reviews
print(f'Percentage of 5-star paid reviews:', (len(df[(df['vine'] == 'Y') & (df['star_rating'] == 5)])/len(df[df['vine'] == 'Y'])))

#Percentage of 5-star paid reviews with 20 or more votes
print(f'Percentage of 5-star paid reviews with 20 or more votes:', (len(total_votes_20[(total_votes_20['vine'] == 'Y') & (total_votes_20['star_rating'] == 5)])/len(total_votes_20[total_votes_20['vine'] == 'Y'])))

#Percentage of 5-star paid reviews with 20 or more votes and 50% or more helpful votes
print(f'Percentage of 5-star paid reviews with 20 or more votes and 50% or more helpful votes:', (len(helpful_votes_50[(helpful_votes_50['vine'] == 'Y') & (helpful_votes_50['star_rating'] == 5)])/len(helpful_votes_50[helpful_votes_50['vine'] == 'Y'])))

Percentage of 5-star paid reviews: 0.3745047774411559
Percentage of 5-star paid reviews with 20 or more votes: 0.46153846153846156
Percentage of 5-star paid reviews with 20 or more votes and 50% or more helpful votes: 0.5106382978723404

In [67]:
#Percentage of 5-star unpaid reviews
print(f'Percentage of 5-star unpaid reviews:', (len(df[(df['vine'] == 'N') & (df['star_rating'] == 5)])/len(df[df['vine'] == 'N'])))

#Percentage of 5-star unpaid reviews with 20 or more votes
print(f'Percentage of 5-star unpaid reviews with 20 or more votes:', (len(total_votes_20[(total_votes_20['vine'] == 'N') & (total_votes_20['star_rating'] == 5)])/len(total_votes_20[total_votes_20['vine'] == 'N'])))

#Percentage of 5-star unpaid reviews with 20 or more votes and 50% or more helpful votes
print(f'Percentage of 5-star unpaid reviews with 20 or more votes and 50% or more helpful votes:', (len(helpful_votes_50[(helpful_votes_50['vine'] == 'N') & (helpful_votes_50['star_rating'] == 5)])/len(helpful_votes_50[helpful_votes_50['vine'] == 'N'])))

Percentage of 5-star unpaid reviews: 0.5754692412777417
Percentage of 5-star unpaid reviews with 20 or more votes: 0.31312140942167754
Percentage of 5-star unpaid reviews with 20 or more votes and 50% or more helpful votes: 0.38701786464381904